@media only screen and (min-width: 662px) {

    .btn {
        font-size: 16px;
    }

    .btn:hover {
        font-size: 20px;
    }

    .sidebar {
        flex-basis: 250px;
        text-align: start;
    }

    .sidebar img {
        height: 40px;
        color: #D2D2D2;
        filter: invert(20%);
        margin: 5px 10px 5px 20px;
    }

    .span-sidebar {
        font-size: 16px;
    }
    
    #small-logo {
        display: none;
    }

    .li-small-logo {
        display: none;
    }

    .li-big-logo {
        display: inline;
    }

    .span-sidebar:hover {
        color: #fff;
    }

    #big-logo {
        height: 55px;
        margin-bottom: 25px;
        margin-top: 15px;
        margin-left: 25px;
    }

    .li-navbar {
        border-left: 5px solid transparent;
    }

    .li-navbar:active {
        border-left: 5px solid #ADFF2F;
    }
    
    span {
        display: inline-block;
    }

    .square-playlist {
        display: inline-block;
    }

    .li-white:hover {
        color: #fff;
    } 

    .install {
        margin-bottom: 0;
    }

    #profile-img {
        margin: 10px 6px 10px 0;
    }

    .li-download {
        border-bottom: 1px solid gray;
    }

    h4 {
        font-size: 1.1rem;
    }
}


@media only screen and (min-width: 1100px) {

    .gallery li {
        flex-basis: 25%;
    }
}

@media only screen and (min-width: 1400px) {

    .gallery li {
        flex-basis: calc(100% / 6);
    }
}