/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generics */

.li-big-logo {
    display: none;
}

img {
    max-width: 100%;
}

#img-middle-main {
    max-width: 95%;
}

.span-sidebar {
    font-size: 15px;
    color: #7C7F83;
    font-weight: 700;
    margin-right: 5px;
    cursor: pointer;
}

.white {
    font-weight: 600;
    color: #fff;
}

span {
    display: none;
}

ul {
    list-style-type: none;
}

/* Utils */

.row .left {
    justify-content: left;
}

.row .right {
    justify-content: right;
}

.mt-50 {
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-5 {
    margin-left: 8px;
}

.ml-10 {
    margin-left: 10px;
}

/* Top-content */

.top-content {
    height: calc(100vh - 90px);
    overflow: auto;
    display: flex;
    flex-direction: row;
}

/* * Main */

main {
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
}

/* Header */

header {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    margin-bottom: 30px;
    top: 0;
    right: 0;
    left: 0;
    line-height: 90px;
    text-align: right;
    z-index: 1;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 45px;
    border: 1px solid;
    text-transform: uppercase;
}

.btn:hover {
    font-size: 16px;
}

/* Main content */

.main-content {
    padding-left: 25px;
    padding-right: 25px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #fff;
}

h4 {
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    color: #7C7F83;
    cursor: pointer;
    position: relative;

}

h4::after {
    content: "";
    position: absolute;
    background-color: #ADFF2F;
    height: 0.175rem;
    width: 30%;
    left: 35%;
    top: 25px;
    display: none;
}

h4:active::after {
    display: block;
}

h4:hover {
    color: #fff;
}

h5 {
    font-size: 1rem;
    color: #fff;
}

h6 {
    font-size: 0.7rem;
    color: #7C7F83;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: -15px;
}

.gallery li {
    flex-basis: 50%;
    padding: 5px;
}

.gallery h5 {
    margin: 10px 0;
}

.img-br {
    border-radius: 50%;
}

.gallery figure {
    position: relative;
    cursor: pointer;
}

.player {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.player-middle {
    top: 0;
    right: 2px;
    left: 2px;
    bottom: 4px;
}

.player-br {
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
    left: 10px;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.player-radius {
    top: 0;
    right: 0;
    left: 0;
    bottom: 4px;
}

.gallery figure:hover .player {
    display: flex;
}

.gallery figure:hover .player-br {
    display: flex;
}

/* * Sidebar */


.sidebar {
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: #000000;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

#small-logo {
    height: 32px;
    filter: invert(0);
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline;
}

#big-logo {
    height: 45px;
    filter: invert(0);
    margin-bottom: 5px;
}

.sidebar img {
    height: 30px;
    color: #D2D2D2;
    filter: invert(20%);
    vertical-align: middle;
}

.square-playlist {
    font-size: 42px;
    margin-top: 8px;
    vertical-align: middle;
    display: none;
    cursor: pointer;
    margin-left: 25px;
}

.span-sidebar-square {
    font-size: 14px;
    font-weight: 700;
    vertical-align: sub;
    margin-left: 10px;
    cursor: pointer;
}

.li-white {
    color: #A3A3A3;
}

.li-sidebar {
    line-height: 28px;
    margin-left: 25px;
}

#download {
    height: 18px;
    margin: 2px 6px 0 0;
}

#profile-img {
    height: 20px;
    width: 20px;
    color: #D2D2D2;
    filter: invert(0);
    margin: 0 0px 7px 0;
    background: gray;
    border-radius: 50%;
}

.install {
    padding: 0 25px 0 25px;
}

/* Footer */

footer {
    height: 90px;
    background-color: #282828;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.col-left {
    flex-basis: 150px;
    flex-shrink: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.col-center {
    display: flex;
    flex-grow: 1;
    text-align: center;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding-top: 16px;
}

.col-right {
    flex-basis: 150px;
    flex-shrink: 0;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
}


.col-70 {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.col-30-left {
    flex-basis: 30%;
    display: flex;
    font-weight: 600;
    color: #7C7F83;
}

.col-30-left {
    cursor: pointer;
}

.col-30 {
    flex-basis: 30%;
    display: flex;
    font-weight: 600;
}

.col-30 i:hover {
    text-shadow: 0 0 13px #fff; 
}

.col-30 ul {
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.sinister {
    display: flex;
    align-self: center;
    margin-left: 10px;
    width: 30%;
}

.sinister-info {
    width: 60px;
}

.sinister-title {
    font-weight: 700;
    color: #fff;
}

.sinister-subtitle {
    font-weight: 600;
    font-size: 0.8rem;
    color: #7C7F83;
}


.h-size {
    font-size: 0.6rem;
}


.progress-bar {
    display: flex;
    height: 4px;
    width: 80px;
    background-color: #5A5A5A;
    border-radius: 10px;
    position: relative;
}

.progress-bar .current-progress {
    position: relative;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #C1C1C1;
    border-radius: 10px;
    width: 20%;
}

.current-progress .marker {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 50% -50%;
    cursor: pointer;
    display: none;
}

.current-progress:hover .marker {
    display: flex;
}


.progress-bar .current-progress:hover {
    background-color: #ADFF2F;
    cursor: pointer;
}

.media-player {
    display: flex;
    color: #fff;
    font-size: 16px;
    justify-content: center;
    gap: 25px;
}

.media-player i:hover {
    cursor: pointer;
    text-shadow: 0 0 13px #fff; 
}

.fa-circle-play {
    font-size: 30px;
    position: relative;
    bottom: 7px;
}

.center-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.progress-bar-media {
    width: 50%;
    height: 4px;
    background-color: #5A5A5A;
    border-radius: 10px;
}

.progress-bar-media .current-progress-media {
    position: relative;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #C1C1C1;
    border-radius: 10px;
    width: 20%;
}

.current-progress-media .marker-media {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 50% -50%;
    cursor: pointer;
    display: none;
}

.current-progress-media:hover .marker-media {
    display: flex;
}


.progress-bar-media .current-progress-media:hover {
    background-color: #ADFF2F;
    cursor: pointer;
}


.timer span {
    display: flex;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.timer {

}